*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 3rem;
    border: 1px solid grey;
    border-radius: 15px;
}

.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    justify-content: center;
}

h1{
    text-align: center;
}

#likes{
    padding: 35px;
    margin: 7px;
    justify-content: center;
    color: maroon;
}

#dislikes{
    padding: 35px;
    margin: 7px;
    justify-content: center;
    color: maroon;
}